<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h3>Members List</h3>
    <h5><a href="/member/add">add Members</a></h5>
    <table>
            <thead>
                <tr>
                    <th>No</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                </tr>
            </thead>
        <tbody>
            <% data.forEach((datum,index) => { %>
                <tr>
                    <td><%= index+1 %></td>
                    <td><%= datum.name %></td>
                    <td><%= datum.email %></td>
                    <td><%= datum.phone %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    
</body>
</html>